<!DOCTYPE html>
<html lang="en" ng-app="marcosCostaApp">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarcosCosta.Front</title>

    @*angular*@
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular/angular-route.min.js"></script>

    @*angular-ui*@
    <script src="~/lib/angular-ui/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link rel="stylesheet" href="~/lib/angular-ui/ui-grid.4.11.1.css" />
    <script src="~/lib/angular-ui/ui-grid.4.11.1.js"></script>

    <link rel="stylesheet" href="~/lib/angular-ui/ui-grid.pagination.min.css"/>
    <script src="~/lib/angular-ui/ui-grid.pagination.min.js"></script>
    

    @*modules*@
    <script src="~/js/app/modules/app.js"></script>
    <script src="~/js/app/globals/global.js"></script>

    @*controllers*@
    <script src="~/js/app/controllers/layoutController.js"></script>
    <script src="~/js/app/controllers/homeController.js"></script>

    @*services*@
    <script src="~/js/app/services/layoutService.js"></script>
    <script src="~/js/app/services/homeService.js"></script>

    @*factories*@
    <script src="~/js/app/factories/homeFactory.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarcosCosta.Front.styles.css" asp-append-version="true" />

    <script>localStorage.setItem('token', '@ViewBag.BearerToken');</script>
</head>
<body>
    <div ng-controller="layoutController as layoutCtrl">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MarcosCosta.Front</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{layoutCtrl.BaseUrl}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{layoutCtrl.BaseUrl}}list">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MarcosCosta.Front - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
